BODY { font-family:arial; font-size:10pt; color:black; }
.sTexteCentre { text-align:center; }
.sLargeurDiv { width:1280px; padding-left:10px; padding-right:10px;}

.sEntete {margin-bottom:5px;  border-bottom-width:2px;  border-bottom-style:solid; }
.sCorps {}
.sPiedDePage {margin-top:5px;  border-top-width:2px;  border-top-style:solid; }
.sTitreApp { font-size:150%; font-weight:bold; text-decoration:underline; } 
.sAuteurApp { font-variant:small-caps; font-style:italic; font-weight:bold;}    

A:link IMG, A:visited IMG { border:none; }
A:hover IMG { border-style:double; border-width:2px; border-color:Green;}

canvas {
    display: block;
  }
  * {
    box-sizing: border-box;
  }
  .container {
      position: relative;
      overflow: none;
  }
  
  #divTempsNiveau {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 12%;
      height: 12%;
      z-index: 10;
      overflow: hidden;
  
  }
  
  .floating-div {
      position: absolute;
      font: 20px Gill Sans MT;
      color: darkgoldenrod;
  }
